{% extends 'base_layout.html' %}

{% block header %}
	<h1>{% block title %}{{ event['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
	<article class="view_event">
		<header>
			<h1>{{ event['title'] }}</h1>
		</header>
		<p class="body">{{ event['description'] }}</p>
		<p class="date">{{ event['date'] }}</p>
		<p class="size">{{ event['size'] - event['current'] }} places disponibles.</p>
		{% if g.user %}
			{% if events_user and event['id'] in events_user %}
                    <form action="{{ url_for('schedule.removeuser', event_id=event['id']) }}" method="post">
                        <input type="submit" value="Cancel·lar assistencia">
                    </form>
                {% elif event['current'] < event['size'] %}
                    <form action="{{ url_for('schedule.adduser', event_id=event['id']) }}" method="post">
                        <input type="submit" value="Rervar plaça">
                    </form>
            {% endif %}
		{% elif g.admin %}
			<h3>Participants</h3>
			<ul>
				{% for user in users_event %}
					<li>{{ user['first_name'] }} {{ user['last_name'] }}
				{% endfor %}
			</ul>
		{% endif %}
	</article>
{% endblock %}
