{% extends 'base_layout.html' %}

{% block header %}
	<h2>{% block title %}Panell de control del catàleg{% endblock %}</h2>
{% endblock %}

{% block content %}
	<table>
		<th>Referència</th>
		<th>Producte</th>
		<th>Preu</th>
		<th>Stock</th>
		<th>A granel</th>
		<th></th>
		{% for product in products %}
			<tr>
				<td>{{ product['reference'] }}</td>
				<td>{{ product['name'] }}</td>
				<td>{{ product['price'] }}</td>
				<td>{{ product['stock'] }}</td>
				<td>
				{% if product['in_bulk'] %}
					<input type="checkbox" style="pointer-events: none;" checked>
				{% else %}
					<input type="checkbox" style="pointer-events: none;">
				{% endif %}
				</td>
				<td class="actions">
					<a class="button" href="{{ url_for('shop.update', id=product['id']) }}">Editar</a>
					<form style="width:auto" class="table-form" action="{{ url_for('shop.delete', id=product['id']) }}" method="post">
						<input clas="danger" type="submit" value="Eliminar" onclick="return confirm('Segur que desitja eliminar aquest producte?');">
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
	<a class="button" href="{{ url_for('shop.create') }}">Afegir producte</a>
{% endblock %}
