<article class="product">
	<header onclick="location.href='{{ url_for('shop.view', id=product['id']) }}';" style="cursor:pointer">
		{% if front_image[product['id']] %}
			<img src="{{ url_for('shop.show_image', id=product['id'], filename=front_image[product['id']]) }}" alt="{{ product['name'] }} image">
		{% else %}
			<img src="{{ url_for('static', filename='img/bubbles.jpg') }}" alt="{{ product['name'] }} image">
		{% endif %}
    	<h3>{{ product['name'] }}</h3>
    </header>
	<div class="product-price">
		<p style="font-style:italic;color:red" >
	    {% if product['stock'] < 1 %}
		   Sense stock
	    {% endif %}
		</p>
	    <p style="font-size:20pt;font-weight:bold;text-align:right">
	    	{{ product['price'] }} &euro;{% if product['in_bulk'] %}/kg{% endif %}
	    </p>
	</div>
</article>
