{% extends 'base_layout.html' %}
{% block header %}
	<h2>{% block title %}{{ product['name'] }}{% endblock %}</h2>
{% endblock %}

{% block content %}
	<article class="product-view">
		<div style="width:500px;height:500px">
			{% include 'shop/slideshow.html' %}
		</div>
		<div class="product-info">
			<p style="font-style:italic;font-size:10pt">{{ product['reference'] }}</p>
			<p class="text-format">{{ product['description'] }}</p>
			<div class="product-price">
				{% if product['stock'] < 1 %}
					<p style="color:red" >Sense stock.</p>
				{% endif %}
				<p style="text-align:right;font-size:20pt;font-weight:bold">{{ product['price'] }} &euro;{% if product['in_bulk'] %}/kg{% endif %}</p>
			</div>
		</div>
	</article>
{% endblock %}
