{% extends 'base_layout.html' %}

{% block header %}
	<h1>{% block title %}Sobre nosaltres{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="POST">
		<div class="row">
			<textarea name="description" id="description" style="height:200px">{{ info['description'] }}</textarea>
		</div>
		
		<div class="row">
			<div class="field">
				<label for="phone">Telèfon</label>
				<input name="phone" id="phone" style="width:100px" value="{{ info['phone'] }}">
			</div>
			<div class="field">		
				<label for="addres">Direcció</label>
				<input name="addres" id="addres" style="width:60%" value="{{ info['addres'] }}">
			</div>
		</div>
		<div class="actions">	
			<input type="submit" style="padding:10px" value="Actualitzar">
		</div>
	</form>
{% endblock %}
