article.about {
	background-color: var(--background-color);
	border-radius: 10px;
	margin-left: 150px;
	margin-right: 150px;
	padding: 30px;
	width: 100%;
}

article.about ul{
	list-style: none;
	padding-left: 30px;
	padding-top: 30px;
}

article.about ul li{
	padding-bottom: 5px;
}

article.about div.button {
	margin-top: 15px;
	text-align: center;
}

article.about p.body{
	width: 100%;
}
