section.content header h2 {
	font-size: 24pt;
}

section.content header h3 {
	font-size: 16pt;
}

section.content main form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 800px;
}

div.row {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
	width: 100%;
}

div.field label{
	margin-right: 10px;
}

div.field input{
	margin-right: 20px;
}

div.row textarea {
	width: 100%;
	resize: none;
	height: 60px;
}

div.actions {
	display: flex;
	justify-content: center;
}
