.grid-container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	row-gap: 20px;
	column-gap: 30px;
}

article.product {
	border: 1px solid, lightgrey;
	border-radius: 10px;
	padding: 30px;
}

article.product header{
	padding: 0;
	margin-bottom: 20px;
}

article.product header h3 {
	text-align: left;
}

article.product p {
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
}

div.product-price {
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

div.product-price p {
	text-align: right;
}

article.product-view {
	width: 80%;
	display: flex;
	direction: row;
	justify-content: center;
}

article.product-view div.product-info {
	margin-left: 20px;
	width:50%;
}

article.product-view p {
	text-align: left;
	width: 100%;
	margin-bottom: 10px;
}
