@import url('base_layout.css');
@import url('form.css');

@import url('event.css');
@import url('about.css');
@import url('post.css');

:root {
	--primary-color: rgb(3,150,140);
	--secondary-color: rgb(197,218,211);
	--background-color: rgb(245,245,245);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: rgb(70,70,70);
	font-family: Helvetica;
}


a {
	text-decoration: none;
}

html {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
body {
	width: 1200px;
	position: relative;
}

::selection {
	background-color: var(--primary-color);
	color: white;
}

.button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.button:hover {
    padding: 9px;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid grey;
}

input[type="submit"] {
    color: white;
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
	font-size: 16px;
}

input[type="submit"]:hover {
    background-color: white;
    color: var(--primary-color);
    padding: 9px;
    border: 1px solid grey;
	font-size: 16px;
}

div.flash {
    padding: 10px 0 10px;
    color: red;
    font-style: italic;
}
