<article class="event">
		{% if not id %}
			<header>
				{% if not id %}
					<a href="{{ url_for('agenda.view', id=event['id']) }}">
				{% endif %}
		       	<h3>{{ event['title'] }}</h3>
				{% if not id %}
					</a>
				{% endif %}
		        {#
		        <div class="date">{{ event['date'].strftime('%d/%m/%Y') }}</div>
		        #}
		        <div class="date">{{ event['date'] }}</div>
		    </header>
		{% endif %}
		{% if not id %}
	   	<p class="summary">{{ event['summary'] }}</p>
		{% else %}
		    {#
		    <div class="date">{{ event['date'].strftime('%d/%m/%Y') }}</div>
		    #}
		    <div class="date">{{ event['date'] }}</div>
			<p class="description">{{ event['description'] }}</p>
		{% endif %}
		<div class="places">
			<p>{{ event['size']-event['current'] }} places disponibles.</p>
		    {% if not g.admin %}
			    {% if events_user and event['id'] in events_user %}
		    	   	<form action="{{ url_for('agenda.removeuser', event_id=event['id']) }}" method="post">
		        	   	<input type="submit" value="Cancel·lar assistència">
			        </form>
		    	{% elif event['current'] < event['size'] %}
		       		<form action="{{ url_for('agenda.adduser', event_id=event['id']) }}" method="post">
		     			<input type="submit" value="Rervar plaça">
				    </form>
		    	{% endif %}
			{% endif %}
		</div>

	    {% if g.admin %}
			<div class="actions">
				<a class="button" href="{{ url_for('agenda.update', id=event['id']) }}">Modificar</a>
		        <form action="{{ url_for('agenda.delete', id=event['id']) }}" method="post">
	    	     	<input class="danger" type="submit" value="Eliminar" onclick="return confirm('Segur que desitja anul·lar el taller?');">
		        </form>
			</div>
			{% if users_event %}
			<div class="participants">
				<h3>Participants</h3>
				<ul>
					{% for usr in users_event %}
						<li>{{ usr['first_name'] }} {{ usr['last_name'] }}
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		{% endif %}
</article>
