{% extends 'base_layout.html' %}

{% block header %}
	<h2>
		{% block title %}
			{% if event %}
				Modificar event
			{% else %}
				Nou event
			{% endif %}
		{% endblock %}
	</h2>
{% endblock %}

{% block content %}
	<form method="post" class="event">
		<div class="row">
			<div class="field" style="width:100%">
			    <label for="title">Tìtol</label>
			    <input name="title" id="title" value="{{ event['title'] }}" required>
			</div>
		</div>
		<div class="row">
			<div class="field" style="width:100%">
				<label for="summary">Resum</label>
			    <input name="summary" id="summary" value="{{ event['summary'] }}">
			</div>
		</div>
		<div class="row">
		    <textarea name="description" style="height:300px" id="description">{{ event['description'] }}</textarea>
		</div>
		<div class="row">
			<div class="field">
		    	<label for="date">Data</label>
		    	<input type="datetime-local" name="date" id="date" value="{{ event['date'] }}" style="width:175px">
			</div>
			<div class="field">
		    	<label for="size">Places disponibles</label>
			    <input type="number" name="size" id="size" style="width:45px" value="{{ event['size'] }}">
			</div>
		</div>
		
		<div class="actions">
    		{% if event %}
		        <input type="submit" value="Modificar event">
		    {% else %}
		        <input type="submit" value="Crear event">
		    {% endif %}
		</div>
	</form>
{% endblock %}
