{% extends 'base_layout.html' %}

{% block header %}
	<h1>
		{% block title %}
			{% if event %}
				Modificar event
			{% else %}
				Nou event
			{% endif %}
		{% endblock %}
	</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<div class="row-form">
		    <label for="title">Tìtol</label>
		    <input name="title" id="title" style="width:350px" value="{{ event['title'] }}" required>
	    </div>
		<div class="row-form">
			<label for="summary">Resum</label>
		    <input name="summary" id="summary" style="width:90%" value="{{ event['summary'] }}" required>
	    </div>
	
	    <textarea name="description" id="description">{{ event['description'] }}</textarea>

		<div class="row-form">
	    	<input type="datetime-local" name="date" id="date" value="{{ event['date'] }}"  required>

	    	<label for="size">Places disponibles</label>
		    <input type="number" name="size" id="size" style="width:25px" value="{{ event['size'] }}">
		</div>
		
		<div class="row-form">
    		{% if event %}
		        <input type="submit" value="Modificar event">
		    {% else %}
		        <input type="submit" value="Crear event">
		    {% endif %}
		</div>
	</form>
{% endblock %}
