{% extends 'base_layout.html' %}

{% block header %}
	<h2>
		{% block title %}
			{% if post %}
				Modificar post
			{% else %}
				Nou post
			{% endif %}
		{% endblock %}
	</h2>
{% endblock %}

{% block content %}
	<form method="post" class="post">
		<div class="row">
			<div class="field" style="width:100%">
			    <label for="title">Títol</label>
			    <input name="title" id="title" value="{{ post['title'] }}" required>
			</div>
		</div>
		<div class="row">	
		    <textarea name="body" id="body" style="height:400px">{{ post['body'] }}</textarea>
		</div>
		<div class="actions">
		    {% if post %}
		        <input type="submit" value="Actualitzar post">
		    {% else %}
		        <input type="submit" value="Crear post">
		    {% endif %}
		</div>
	</form>
{% endblock %}
