<article class="post">
	<header>
		{% if not id %}
			<a href="{{ url_for('blog.view', id=post['id']) }}">
		{% endif %}
		<h3>{{ post['title'] }}</h3>
		{% if not id %}
			</a>
		{% endif %}
		<div class="about">{{ post['created'].strftime('%d/%m/%Y') }}</div>
	</header>

	{% if id %}
		<p class="body text-format">{{ post['body'] }}</p>
	{% endif %}
	{% if g.admin %}
		<div class="actions">
			<a class="button" href="{{ url_for('blog.update', id=post['id']) }}">Editar</a>
			<form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
				<input class="danger" type="submit" value="Eliminar" onclick="return confirm('Segur que desitja eliminar el post?');">
			</form>
		</div>
	{% endif %}
</article>

