{% extends 'base_layout.html' %}

{% block title %}Iniciar sessió{% endblock %}

{% block content %}
	<form method="POST" class="login-form" style="width:auto">
		<div class="row">
			<div class="field" style="width:100%;display:flex;justify-content:flex-end">
				<label for="email">Email</label>
				<input name="email" id="email" style="width:200px" required>
			</div>
		</div>

		<div class="row">
			<div class="field">
				<label for="password">Contrasenya</label>
				<input type="password" name="password" id="password" style="width:200px" required>
			</div>
		</div>

		<input type="submit" value="Iniciar sessió" style="margin-top:20px" >
	</form>
{% endblock %}
