{% extends 'base_layout.html' %}

{% block content %}
	<form method="POST" class="login-form" style="width:auto">
		<div class="row">
			<div class="field" style="width:100%">
				<label for="username">Administrador</label>
				<input name="username" id="username" style="width:200px" required>
			</div>
		</div>

		<div class="row">
			<div class="field" style="width:100%;display:flex;justify-content:flex-end">
				<label for="password">Contrasenya</label>
				<input type="password" name="password" id="password" style="width:200px" required>
			</div>
		</div>

		<input type="submit" value="Iniciar sessió">
	</form>
{% endblock %}
